<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>zeleena fashions</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user/assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="/public/user/assets/images/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="/user/assets/css/font-awesome.min.css">
    
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="/user/assets/css/fontawesome-stars.css">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="/user/assets/css/ionicons.min.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/user/assets/css/slick.min.css">
    <!-- Animation -->
    <link rel="stylesheet" href="/user/assets/css/animate.min.css">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="/user/assets/css/jquery-ui.min.css">
    <!-- Nice Select -->
    <link rel="stylesheet" href="/user/assets/css/nice-select.min.css">
    <!-- Timecircles -->
    <link rel="stylesheet" href="/user/assets/css/timecircles.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/user/assets/css/style.css">

    <!-- Add this in your head tag -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- sweet alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style>
    .header-right_area i {
        font-size: 24px;
    }

    .hm-searchbox {
        position: relative;
    }

    .search-cancel-icon {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #999;
        transition: color 0.3s;
        z-index: 10;
    }

    .search-cancel-icon:hover {
        color: #333;
    }

    /* For mobile search */
    .offcanvas-inner_search .search-cancel-icon {
        right: 45px;
    }
</style>
</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Hiraola's Header Main Area -->
        <header class="header-main_area">
            <div class="header-middle_area d-none d-lg-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="header-logo">
                                <a href="/">
                                    <img src="/user/assets/images/menu/logo/Logo.png" alt="Hiraola's Header Logo" width="80" height="auto">


                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="hm-form_area">
                                <form action="/search" class="hm-searchbox">
                                    <input type="text" id="desktop-search" placeholder="Enter your search key ..." name="query" value="<%= locals.searchQuery || "" %>">
                                    <span class="search-cancel-icon" style="display: none;"><i class="fa fa-times"></i></span>
                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom_area header-sticky stick">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 d-lg-none d-block">
                            <div class="header-logo">
                                <a href="/">
                                    <img src="\user\assets\images\menu\logo\Logo.png.png" alt="Hiraola's Header Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9 d-none d-lg-block position-static">
                            <div class="main-menu_area">
                                <nav>
                                    <ul>
                                        <li class="dropdown-holder"><a href="/">Home</a></li>
                                        <li class="megamenu-holder"><a href="/shop">Shop</a></li>
                                        <li><a href="about">About Us</a></li>
                                        <li><a href="contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-8 col-sm-8">
                            <div class="header-right_area">
                                <div class="main-menu_area">
                                    <nav>
                                        <% if (!locals.session.isAuth) { %>
                                            <ul>
                                                <li class="dropdown-holder">
                                                    <a href="/login">
                                                        <i class="ion-log-in"></i>
                                                        Login
                                                    </a>
                                                </li>
                                            </ul>
                                        <% } else { %>
                                            <ul>
                                                <li>
                                                    <a href="/profile" class="wishlist-btn">
                                                        <i class="ion-person"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/wishlist" class="wishlist-btn">
                                                        <i class="ion-android-favorite-outline"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/cart" class="wishlist-btn">
                                                        <i class="ion-bag"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        <% } %>
                                    </nav>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="offcanvas-minicart_wrapper" id="miniCart">
                <div class="offcanvas-menu-inner">
                    <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                    <div class="minicart-content">
                        <div class="minicart-heading">
                            <h4>Shopping Cart</h4>
                        </div>
                        <ul class="minicart-list">
                            <li class="minicart-product">
                                <a class="product-item_remove" href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                <div class="product-item_img">
                                    <img src="/public/user/assets/images/product/small-size/2-1.jpg" alt="Hiraola's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="/shop">Magni dolorum vel</a>
                                    <span class="product-item_quantity">1 x $120.80</span>
                                </div>
                            </li>
                            <li class="minicart-product">
                                <a class="product-item_remove" href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                <div class="product-item_img">
                                    <img src="/public/user/assets/images/product/small-size/2-2.jpg" alt="Hiraola's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="/shop">Eius accusantium omnis</a>
                                    <span class="product-item_quantity">1 x $120.80</span>
                                </div>
                            </li>
                            <li class="minicart-product">
                                <a class="product-item_remove" href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                <div class="product-item_img">
                                    <img src="/public/user/assets/images/product/small-size/2-3.jpg" alt="Hiraola's Product Image">
                                </div>
                                <div class="product-item_content">
                                    <a class="product-item_title" href="/shop">Aperiam adipisci dolorem</a>
                                    <span class="product-item_quantity">1 x $120.80</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="minicart-item_total">
                        <span>Subtotal</span>
                        <span class="ammount">$360.00</span>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="/cart" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Minicart</a>
                    </div>
                    <div class="minicart-btn_area">
                        <a href="/checkout" class="hiraola-btn hiraola-btn_dark hiraola-btn_fullwidth">Checkout</a>
                    </div>
                </div>
            </div>
            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_search">
                            <form action="/search" class="hm-searchbox">
                                <input type="text" id="mobile-search" placeholder="Search for item..." name="query" value="<%= locals.searchQuery || "" %>">
                                <span class="search-cancel-icon" style="display: none;"><i class="fa fa-times"></i></span>
                                <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="/"><span class="mm-text">Home</span></a>
                                    <ul class="sub-menu">
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="/shop">
                                        <span class="mm-text">Shop</span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="mm-text">Pages</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/useraccount">
                                                <span class="mm-text">My Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/register">
                                                <span class="mm-text">Register</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/login">
                                                <span class="mm-text">Login</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/wishlist">
                                                <span class="mm-text">Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/cart">
                                                <span class="mm-text">Cart</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/checkout">
                                                <span class="mm-text">Checkout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">
                                        <span class="mm-text">User
                                        Setting
                                    </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="/useraccount">
                                                <span class="mm-text">My Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/login">
                                                <span class="mm-text">Login</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/register">
                                                <span class="mm-text">Register</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#"><span class="mm-text">Language</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Français</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Romanian</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Japanese</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Hiraola's Header Main Area End Here -->
        
        <!-- Script for search cancel functionality -->
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // For desktop search
                const desktopInput = document.getElementById('desktop-search');
                const desktopCancelIcon = desktopInput.parentElement.querySelector('.search-cancel-icon');
                
                // For mobile search
                const mobileInput = document.getElementById('mobile-search');
                const mobileCancelIcon = mobileInput.parentElement.querySelector('.search-cancel-icon');
                
                // Function to setup search behavior
                function setupSearch(input, cancelIcon) {
                    // Show cancel icon when text is entered or when there's an initial value
                    if (input.value) {
                        cancelIcon.style.display = 'block';
                    }
                    
                    input.addEventListener('input', function() {
                        cancelIcon.style.display = this.value ? 'block' : 'none';
                    });
                    
                    // Clear search and redirect to shop page to display all products when cancel icon is clicked
                    cancelIcon.addEventListener('click', function(e) {
                        // Prevent form submission
                        e.preventDefault();
                        
                        // Clear the input
                        input.value = '';
                        cancelIcon.style.display = 'none';
                        
                        // Redirect to shop page to display all products
                        window.location.href = '/shop';
                    });
                }
                
                // Setup both search fields
                if (desktopInput && desktopCancelIcon) {
                    setupSearch(desktopInput, desktopCancelIcon);
                }
                
                if (mobileInput && mobileCancelIcon) {
                    setupSearch(mobileInput, mobileCancelIcon);
                }
            });
        </script>
        