<%- include('../partials/admin/header') %>

        <section class="content-main" style="background-color: white;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title" style="color: black;">Dashboard </h2>
                    <p style="color: #333;">Whole data about your business here</p>
                </div>
                <div>
                    <a href="#" class="btn" style="background-color: black; color: white;"><i class="text-muted material-icons md-post_add" style="color: gold;"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="border-color: gold; background-color: white;">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: #fffaf0;"><i class="material-icons md-monetization_on" style="color: gold;"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title" style="color: black;">Revenue</h6>
                                <span style="color: black;">$13,456.5</span>
                                <span class="text-sm" style="color: #555;">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="border-color: gold; background-color: white;">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: #fffaf0;"><i class="material-icons md-local_shipping" style="color: gold;"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title" style="color: black;">Orders</h6> <span style="color: black;">53.668</span>
                                <span class="text-sm" style="color: #555;">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="border-color: gold; background-color: white;">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: #fffaf0;"><i class="material-icons md-qr_code" style="color: gold;"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title" style="color: black;">Products</h6> <span style="color: black;">9.856</span>
                                <span class="text-sm" style="color: #555;">
                                    In 19 Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4" style="border-color: gold; background-color: white;">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle" style="background-color: #fffaf0;"><i class="material-icons md-shopping_basket" style="color: gold;"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title" style="color: black;">Monthly Earning</h6> <span style="color: black;">$6,982</span>
                                <span class="text-sm" style="color: #555;">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4" style="border-color: gold; background-color: white;">
                        <article class="card-body">
                            <h5 class="card-title" style="color: black;">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="card mb-4" style="border-color: gold; background-color: white;">
                                <article class="card-body">
                                    <h5 class="card-title" style="color: black;">New Members</h5>
                                    <div class="new-member-list">
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/imgs/people/avatar4.jpg" alt="" class="avatar">
                                                <div>
                                                    <h6 style="color: black;">Patric Adams</h6>
                                                    <p class="text-muted font-xs" style="color: #555;">
                                                        Sanfrancisco
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"><i class="material-icons md-add" style="color: gold;"></i> Add</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/imgs/people/avatar2.jpg" alt="" class="avatar">
                                                <div>
                                                    <h6 style="color: black;">Dilan Specter</h6>
                                                    <p class="text-muted font-xs" style="color: #555;">
                                                        Sanfrancisco
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"><i class="material-icons md-add" style="color: gold;"></i> Add</a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-4">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/imgs/people/avatar3.jpg" alt="" class="avatar">
                                                <div>
                                                    <h6 style="color: black;">Tomas Baker</h6>
                                                    <p class="text-muted font-xs" style="color: #555;">
                                                        Sanfrancisco
                                                    </p>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"><i class="material-icons md-add" style="color: gold;"></i> Add</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="card mb-4" style="border-color: gold; background-color: white;">
                                <article class="card-body">
                                    <h5 class="card-title" style="color: black;">Recent activities</h5>
                                    <ul class="verti-timeline list-unstyled font-sm">
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl" style="color: gold;"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6 style="color: black;"><span>Today</span> <i class="material-icons md-trending_flat ml-15 d-inline-block" style="color: gold;"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div style="color: #333;">
                                                        Lorem ipsum dolor sit amet consectetur
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list active">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl animation-fade-right" style="color: gold;"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6 style="color: black;"><span>17 May</span> <i class="material-icons md-trending_flat ml-15 d-inline-block" style="color: gold;"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div style="color: #333;">
                                                        Debitis nesciunt voluptatum dicta reprehenderit
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl" style="color: gold;"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6 style="color: black;"><span>13 May</span> <i class="material-icons md-trending_flat ml-15 d-inline-block" style="color: gold;"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div style="color: #333;">
                                                        Accusamus voluptatibus voluptas.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl" style="color: gold;"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6 style="color: black;"><span>05 April</span> <i class="material-icons md-trending_flat ml-15 d-inline-block" style="color: gold;"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div style="color: #333;">
                                                        At vero eos et accusamus et iusto odio dignissi
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl" style="color: gold;"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6 style="color: black;"><span>26 Mar</span> <i class="material-icons md-trending_flat ml-15 d-inline-block" style="color: gold;"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div style="color: #333;">
                                                        Responded to need "Volunteer Activities
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4" style="border-color: gold; background-color: white;">
                        <article class="card-body">
                            <h5 class="card-title" style="color: black;">Revenue Base on Area</h5>
                            <canvas id="myChart2" height="217"></canvas>
                        </article>
                    </div>
                    <div class="card mb-4" style="border-color: gold; background-color: white;">
                        <article class="card-body">
                            <h5 class="card-title" style="color: black;">Marketing Chanel</h5>
                            <span class="text-muted font-xs" style="color: #555;">Facebook</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 15%; background-color: gold;">15%</div>
                            </div>
                            <span class="text-muted font-xs" style="color: #555;">Instagram</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 65%; background-color: gold;">65% </div>
                            </div>
                            <span class="text-muted font-xs" style="color: #555;">Google</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 51%; background-color: gold;"> 51% </div>
                            </div>
                            <span class="text-muted font-xs" style="color: #555;">Twitter</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%; background-color: gold;"> 80%</div>
                            </div>
                            <span class="text-muted font-xs" style="color: #555;">Other</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%; background-color: gold;"> 80%</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="card mb-4" style="border-color: gold; background-color: white;">
                <header class="card-header" style="background-color: white; border-bottom-color: gold;">
                    <h4 class="card-title" style="color: black;">Latest orders</h4>
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <div class="custom_select">
                                <select class="form-select select-nice" style="border-color: gold; color: black;">
                                    <option selected>All Categories</option>
                                    <option>Women's Clothing</option>
                                    <option>Men's Clothing</option>
                                    <option>Cellphones</option>
                                    <option>Computer & Office</option>
                                    <option>Consumer Electronics</option>
                                    <option>Jewelry & Accessories</option>
                                    <option>Home & Garden</option>
                                    <option>Luggage & Bags</option>
                                    <option>Shoes</option>
                                    <option>Mother & Kids</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control" style="border-color: gold; color: black;">
                        </div>
                        <div class="col-md-2 col-6">
                            <div class="custom_select">
                                <select class="form-select select-nice" style="border-color: gold; color: black;">
                                    <option selected>Status</option>
                                    <option>All</option>
                                    <option>Paid</option>
                                    <option>Chargeback</option>
                                    <option>Refund</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light" style="background-color: #fffaf0; color: black;">
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <div class="form-check align-middle">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck01" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck01"></label>
                                            </div>
                                        </th>
                                        <th class="align-middle" scope="col">Order ID</th>
                                        <th class="align-middle" scope="col">Billing Name</th>
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Payment Status</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                        <th class="align-middle" scope="col">View Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck02" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck02"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold" style="color: black;">#SK2540</a> </td>
                                        <td style="color: #333;">Neal Matthews</td>
                                        <td style="color: #333;">
                                            07 Oct, 2021
                                        </td>
                                        <td style="color: #333;">
                                            $400
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-success" style="background-color: #f0f8ff; color: gold; border: 1px solid gold;">Paid</span>
                                        </td>
                                        <td style="color: #333;">
                                            <i class="material-icons md-payment font-xxl text-muted mr-5" style="color: gold;"></i> Mastercard
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"> View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck03" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck03"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold" style="color: black;">#SK2541</a> </td>
                                        <td style="color: #333;">Jamal Burnett</td>
                                        <td style="color: #333;">
                                            07 Oct, 2021
                                        </td>
                                        <td style="color: #333;">
                                            $380
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-danger" style="background-color: #fff0f0; color: black; border: 1px solid gold;">Chargeback</span>
                                        </td>
                                        <td style="color: #333;">
                                            <i class="material-icons md-payment font-xxl text-muted mr-5" style="color: gold;"></i> Visa
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"> View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck04" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck04"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold" style="color: black;">#SK2542</a> </td>
                                        <td style="color: #333;">Juan Mitchell</td>
                                        <td style="color: #333;">
                                            06 Oct, 2021
                                        </td>
                                        <td style="color: #333;">
                                            $384
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-success" style="background-color: #f0f8ff; color: gold; border: 1px solid gold;">Paid</span>
                                        </td>
                                        <td style="color: #333;">
                                            <i class="material-icons md-payment font-xxl text-muted mr-5" style="color: gold;"></i> Paypal
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"> View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck05" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck05"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold" style="color: black;">#SK2543</a> </td>
                                        <td style="color: #333;">Barry Dick</td>
                                        <td style="color: #333;">
                                            05 Oct, 2021
                                        </td>
                                        <td style="color: #333;">
                                            $412
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-success" style="background-color: #f0f8ff; color: gold; border: 1px solid gold;">Paid</span>
                                        </td>
                                        <td style="color: #333;">
                                            <i class="material-icons md-payment font-xxl text-muted mr-5" style="color: gold;"></i> Mastercard
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"> View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck06" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck06"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold" style="color: black;">#SK2544</a> </td>
                                        <td style="color: #333;">Ronald Taylor</td>
                                        <td style="color: #333;">
                                            04 Oct, 2021
                                        </td>
                                        <td style="color: #333;">
                                            $404
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-warning" style="background-color: #fffaf0; color: black; border: 1px solid gold;">Refund</span>
                                        </td>
                                        <td style="color: #333;">
                                            <i class="material-icons md-payment font-xxl text-muted mr-5" style="color: gold;"></i> Visa
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"> View details</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck07" style="border-color: gold;">
                                                <label class="form-check-label" for="transactionCheck07"></label>
                                            </div>
                                        </td>
                                        <td><a href="#" class="fw-bold" style="color: black;">#SK2545</a> </td>
                                        <td style="color: #333;">Jacob Hunter</td>
                                        <td style="color: #333;">
                                            04 Oct, 2021
                                        </td>
                                        <td style="color: #333;">
                                            $392
                                        </td>
                                        <td>
                                            <span class="badge badge-pill badge-soft-success" style="background-color: #f0f8ff; color: gold; border: 1px solid gold;">Paid</span>
                                        </td>
                                        <td style="color: #333;">
                                            <i class="material-icons md-payment font-xxl text-muted mr-5" style="color: gold;"></i> Paypal
                                        </td>
                                        <td>
                                            <a href="#" class="btn btn-xs" style="background-color: black; color: white;"> View details</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#" style="background-color: black; border-color: gold; color: white;">01</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black; border-color: gold;">02</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black; border-color: gold;">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#" style="color: black; border-color: gold;">...</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black; border-color: gold;">16</a></li>
                        <li class="page-item"><a class="page-link" href="#" style="color: black; border-color: gold;"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->


        <%- include('../partials/admin/footer') %>